stylesheet

.body {
background-color: pink;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
font-size: 20px;
}
.h1   {
        color: palevioletred;
    }
    p    {
        color: black;
    }

    .topnav
{
    background-color:pink;
    padding: 20px;
    padding-left: 200px;
    margin: auto 0;
    font-family:Georgia, 'Times New Roman', Times, serif
    font size: 30px;
    word-spacing: 10px;
}

.topnav a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: palevioletred;
    border-radius: 25px;
   
  }

.img{
    max-height: 500px;
    max-width:300px;
    
}
.about{
    
}

.work{
display: grid;
column: 4;
}
.contact{
    
}
.mywork{
    display: grid;
    columns: 3;
    flex-direction: column;
}
.footer{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    background-color: pink;
    text-align: center;
    font-size: 10px;
}

